.tourdetail .ant-collapse {
  background-color: white !important;
}
.tourdetail .ant-collapse-header .ant-collapse-header-text {
  font-weight: bold !important;
}
.clamped-text-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2; /* Limits to 3 lines */
  line-height: 1.5em; /* Optional: Adjust line height */
  max-height: 4.5em; /* Optional: total height based on lines (3 * 1.5em) */
}
.slick-tour-detail .slick-track {
  gap: 20px; /* Khoảng cách giữa các phần tử */
}